.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
  }
  
  .title {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
  
  .dropdownContainer {
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
  }
  
  .chartContainer {
    width: 80%;
  }
  